{% extends "base.html" %}

{% block content %}
<div class="py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h4 mb-0">Categories</h1>
    {% if request.user.role == "coordinator" %}
      <a href="{% url 'tasks:category-create' %}" class="btn btn-success">
        Add Category
      </a>
    {% endif %}
  </div>

  {% include "includes/search_form.html" %}

  {% if category_list %}
    <div class="card border-0 shadow">
      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for category in category_list %}
              <tr>
                <td>
                  <a href="{% url 'tasks:category-detail' pk=category.id %}">
                    {{ category.id }}
                  </a>
                </td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <p class="text-muted">There are no categories.</p>
  {% endif %}
</div>
{% endblock %}
