{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ volunteer.username }}</h4>
      {% if request.user.role == "coordinator" %}
        <a href="{% url 'tasks:volunteer-delete' pk=volunteer.id %}" class="btn btn-danger link-to-page">
          Delete
        </a>
        <a href="{% url 'tasks:volunteer-update' pk=volunteer.id %}" class="btn btn-sm btn-warning">
          Update
        </a>
      {% endif %}
      <p><strong>Username:</strong> {{ volunteer.username }}</p>
      <p><strong>First name:</strong> {{ volunteer.first_name }}</p>
      <p><strong>Last name:</strong> {{ volunteer.last_name }}</p>
      <p><strong>Email:</strong> {{ volunteer.email }}</p>
      <p><strong>Phone:</strong> {{ volunteer.phone_number|default:"—" }}</p>
      <p><strong>City:</strong> {{ volunteer.city|default:"—" }}</p>
    </div>
  </div>
{% endblock %}
